{% extends 'base.html' %}




{% block content %}

<div class="container">

    <div class="row">
        <div class="col-12">
            <h4 class="d-flex justify-content-center my-4 text-bold">{{ course.course_title }}</h4>

            <div class="card text-white bg-primary mb-3" style="width:100%;">
                <div class="card-header">Quiz Title</div>
                <div class="card-body">

                    <p class="card-text">
                        quiz Description
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}