{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container py-4">

    <form action="" method="POST">
        {% csrf_token %}
        {% for question in questions %}
        <div class="row">
            <div class="col-12">
                <div class="card border-primary mb-3" style="width: 100%;">
                    <div class="card-header">{{ question.question_text }}</div>
                    <div class="card-body">

                        {% for option in question.options.all %}
                        <input type="radio" name="question_{{ question.id }}" id="option_{{ option.id }}"
                            value="{{ option.id }}">
                        <label for="option_{{ option.id }}">{{ option.option_text }}</label> <br>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <input type="submit" class="btn btn-success" value="Submit">
    </form>
</div>

{% endblock content %}