<!-- extending templates from base.html -->
{% extends 'base.html' %}

<!-- load static -->

{% load static %}
<!-- content -->

<!-- css block -->
{% block css %}

{% endblock %}

{% block content %}
<!-- carousel -->
<div id="carousel" class="carousel_div">
  <div class="carousel_content">
    <p class="carousel__title">
      <span class="heading_text__one" id="heading__one">Level</span> <span class="heading_text__one"
        id="heading__two">Up</span>
      <br /> <span style="opacity: 0.65; font-size:24px;">your skill with</span>
      online learning
    </p>
    <p class="carousel_des">Unlock your potential and advance your career with online learning. Our comprehensive
      courses are designed to help you acquire new skills, stay updated with industry trends, and achieve your personal
      and professional goals. Whether you're looking to master a new technology, improve your leadership abilities, or
      explore a new field, our platform offers flexible and accessible learning opportunities tailored to your needs.
      Start your journey today and take the next step towards a brighter future!</p>

    <div class="search_bar_div">
      <i class="fa-solid fa-magnifying-glass search_bar_icon"></i>
      <input class="search_bar" type="text" name="" placeholder="Explore our courses" />
      <select id="courses" name="courses">
        <option value="volvo">Web Development</option>
        <option value="saab">App Developement</option>
        <option value="mercedes">Digital Marketing</option>
        <option value="audi">Graphic Design</option>
      </select>
    </div>
  </div>
  <div class="carousel_image_div">
    <img src="{% static 'images/carousel_img1.png' %}" alt="Carousel Image" />
  </div>
</div>
<!-- carousel end -->

<!-- course -->
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h2 class="my-4">Explores All Avaiable Courses</h2>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="tab">
        {% for category in category %}
        <button class="tablinks" data-tab="{{ category.cate_title }}">{{ category.cate_title }}</button>
        {% endfor %}
      </div>
    </div>
    {% for category in category %}
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <!-- tab content -->
          <div id="{{ category.cate_title }}" class="tabcontent">
            <div class="row">
              {% for course in courses %}
              {% if course.category.cate_title == category.cate_title %}
              <div class="col-lg-3 col-md-4 col-sm-6 my-4">
                <!-- tab1 -->

                <div class="card">
                  <img class="card-img-top" src="{{ course.course_image.url }}" alt="Card image cap" />
                  <div class="card-body">
                    <h5 class="card-title">{{ course.course_title }}</h5>

                    <p class="author_name">{{ course.created_by }}</p>
                    <p>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                    </p>
                    <p>{{ course.price }}</p>

                    <a href="{% url 'details_page' course.id %}" class="btn btn-primary text-center"
                      style="width: 100%;">Go to course</a>
                  </div>
                </div>
              </div>
              {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}